name: CI

on:
  push:
    branches: ['*']
  pull_request:
    branches: [master]
  schedule:
    - cron: '55 5 * * *'

jobs:
  val-links:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v3

      - name: Validate links
        uses: lycheeverse/lychee-action@v1.6.1
        with:
          args: --config .github/workflows/lychee.toml -- README.md
          # Fail action on broken links
          fail: true
          # Write link validation summary to GH Job summary
          jobSummary: true
